html
  head
    title Google Auth Log
    link(rel='stylesheet', href='css/style.css', type='text/css' )
  body
    h1 Log in using Google Authorization
    <!-- GET? nie POST -->
    form.log(action="/auth/google", method="GET")
      div
        label(for="email") E-mail
        input#email(type="email")
      div
        label(for="password") Password
        input#password(type="password")
      div
        button(type="submit") Log