doctype html
html
  head
    title="Log"
  body
    p.log This app will log you in to your google account
    form(action="/auth/google", method="POST")
      label(for="email") Email
      input#email(type="email")
      label(for="password") Password
      input#pass(type="password")
      button(type="submit") Log